* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #f5f6fa;
  padding: 20px;
}

#topbar {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
}

#topbar a {
  text-decoration: none;
  color: #0290ff;
}

#topbar ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  gap: 30px;
}

#topbar .link {
  color: rgb(151, 149, 149);
}

#topbar .link.active {
  color: #000;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.primary-color {
  color: #0290ff;
}

.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#topbar ul a {
  text-decoration: none;
  color: #000;
}

#detail {
  background-color: #f5f6fa;
}

#categories,
#books {
  margin: 0 20px;
  padding: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  border: 1px solid rgb(227, 219, 219);
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10.625rem;
  margin: 2rem 2rem 2rem 2rem;
  padding: 2rem 0.8rem 2rem 1rem;
  border-radius: 4px;
  border: solid 1px rgb(227, 219, 219);
  background-color: #fff;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.infos {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.bookCategory {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.bookTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.bookAuthor {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.actions {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.actionItem {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  cursor: pointer;
}

.separator {
  color: var(--white);
}

.actions button {
  background-color: transparent;
  border: none;
}

.progressInfo {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.percentComplete {
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

/* 3rd progress bar */
.mask .fill {
  clip: rect(0, 50px, 100px, 0);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.circle-wrap {
  margin: 100px auto;
  width: 108px;
  height: 108px;
  background: var(--white);
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 108px;
  height: 108px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 108px, 108px, 50px);
}

.circle-wrap .inside-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  background: white;
  line-height: 70px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.bookProgress {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bookProgress li {
  padding: 10px;
}

.bookProgress li:first-child {
  border-right: solid 1px var(--white);
  padding: 10px 50px 10px 20px;
}

.currentChapterContainer {
  display: flex;
  flex-direction: column;
}

.currentChapter {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapter {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.updateBtn {
  width: 11.5rem;
  height: 2.063rem;
  margin-top: 1rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;

  /* Text */
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.line {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 95%;
  margin: 0 2rem 2rem 2rem;
}

.formSection {
  margin: 0 2rem 8rem 2rem;
  flex: 1;
}

form {
  display: flex;
  flex: 1;
  margin-top: 1.2rem;
  gap: 2rem;
}

form :first-child {
  flex: 2;
}

.formTitle {
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.inputField {
  padding: 1em;
  width: 20rem;
  color: var(--input-text);
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: #fff;
  outline: none;
}

.addBook {
  width: 11.5rem;
  padding: 1em;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;

  /* Text */
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
